* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.6em;
}

p {
  font-size: 1rem;
  padding: 0.5rem 0;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

body {
  color: #19242d;
  font-family: Arial;
}

.btn {
  text-decoration: none;
  background: grey;
  padding: 1rem 2rem;
  margin: 1rem 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  display: inline-block;
  text-align: center;
}

nav {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  background: #ffffff;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links {
  display: block;
  padding: 20px 0;
}

.nav-links,
.logo {
  text-decoration: none;
  color: #19242d;
}

.nav-links:hover,
.logo:hover {
  background: #19242d;
  color: #ffffff;
}

.main-nav li {
  text-align: center;
}

.main-nav li:nth-child(odd) {
  background: #ccc;
}

.logo {
  display: inline-block;
  font-size: 1.3rem;
  margin-left: 2rem;
  line-height: 60px;
  font-weight: bold;
}

.navbar-toggle {
  position: absolute;
  top: 20px;
  right: 1.5rem;
  cursor: pointer;
  color: #c13e33;
  font-size: 1rem;
}

.active {
  display: block;
}

.hero,
.qoute {
  padding: 1.5rem 2rem;
}

.image-box {
  /* Here's the trick */
  background: -webkit-gradient(linear, left top, right bottom, from(white), to(rgba(255, 255, 255, 0.5))), url(../img/final1.png);
  background: linear-gradient(to bottom right, white, rgba(255, 255, 255, 0.5)), url(../img/final1.png);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 400px;
  background-size: cover;
}

.hero h1 {
  line-height: 1.3;
  padding-bottom: 10px;
}

.hero h3 {
  color: #c13e33;
  font-size: 1.8rem;
  line-height: 1.2;
  padding-bottom: 20px;
}

.hero .btn {
  width: 200px;
  text-align: center;
  background: #c13e33;
  margin-left: 0;
}

.hero span {
  color: #c13e33;
  padding: 10px 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.qoute {
  background: #19242d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.qoute h2 {
  color: #fff;
}

.qoute input,
.qoute select {
  display: block;
  border: none;
  height: 3rem;
  margin: 0.5rem 0;
  width: 100%;
  border-radius: 0;
  padding-left: 1rem;
  background: #344b5e;
  color: #fff;
  font-size: 0.9rem;
}

.qoute input::-webkit-input-placeholder,
.qoute select::-webkit-input-placeholder {
  color: #a7a7a7;
}

.qoute input:-ms-input-placeholder,
.qoute select:-ms-input-placeholder {
  color: #a7a7a7;
}

.qoute input::-ms-input-placeholder,
.qoute select::-ms-input-placeholder {
  color: #a7a7a7;
}

.qoute input::placeholder,
.qoute select::placeholder {
  color: #a7a7a7;
}

.qoute select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #a7a7a7;
}

.qoute textarea {
  display: block;
  border: none;
  height: 6rem;
  margin: 0.4rem 0;
  width: 100%;
  border-radius: 0;
  padding: 1rem;
  background: #344b5e;
  font-size: 0.9rem;
}

.qoute textarea::-webkit-input-placeholder {
  color: #a7a7a7;
}

.qoute textarea:-ms-input-placeholder {
  color: #a7a7a7;
}

.qoute textarea::-ms-input-placeholder {
  color: #a7a7a7;
}

.qoute textarea::placeholder {
  color: #a7a7a7;
}

.qoute .btn {
  background: #e0aa25;
  float: right;
  margin-top: 0.5rem;
}

.services {
  padding: 2rem;
}

.services h2 {
  text-align: center;
  padding-bottom: 1rem;
}

.services .service-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 2rem 1rem;
  margin: 1.5rem auto;
  color: #fff;
}

.services .service-card h4 {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.services .service-card:nth-child(1) {
  background: #c13e33;
}

.services .service-card:nth-child(1) .btn {
  background: #842b23;
}

.services .service-card:nth-child(2) {
  background: #344b5e;
}

.services .service-card:nth-child(2) .btn {
  background: #19242d;
}

.services .service-card:nth-child(3) {
  background: #e0aa25;
}

.services .service-card:nth-child(3) .btn {
  background: #a27a17;
}

.about {
  padding: 2rem 2rem;
  height: 400px;
}

.bgimg {
  width: 100%;
  height: 400px;
  background-size: cover;
}

@media screen and (min-width: 700px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0;
    height: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .main-nav li {
    margin: 0;
  }
  .main-nav li:nth-child(odd) {
    background: none;
  }
  .nav-links {
    margin-left: 40px;
    background: none;
    border: none;
  }
  .logo {
    margin-top: 0;
  }
  .navbar-toggle {
    display: none;
  }
  .logo:hover,
  .nav-links:hover {
    color: #a7a7a7;
    background: none;
  }
  .service-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
  }
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about {
    width: 50%;
  }
  .bgimg {
    width: 50%;
    background-size: cover;
  }
}

@media screen and (min-width: 650px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero,
  .qoute {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */