* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

body {
  color: #19242d;
  font-family: Arial;
}

.btn {
  text-decoration: none;
  background: grey;
  padding: 0.5rem 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.7rem;
  display: inline;
}

nav {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

.navbar {
  font-size: 0.8rem;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links {
  display: block;
  padding: 20px 0;
}

.nav-links,
.logo {
  text-decoration: none;
  color: #19242d;
}

.nav-links:hover,
.logo:hover {
  background: #19242d;
  color: #ffffff;
}

.main-nav li {
  text-align: center;
}

.main-nav li:nth-child(odd) {
  background: #ccc;
}

.logo {
  display: inline-block;
  font-size: 1rem;
  margin-left: 2rem;
  line-height: 60px;
  font-weight: bold;
}

.navbar-toggle {
  position: absolute;
  top: 15px;
  right: 1rem;
  cursor: pointer;
  color: #c13e33;
  font-size: 1rem;
}

.active {
  display: block;
}

.hero,
.qoute {
  padding: 0.5rem 2rem;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero h1 {
  font-size: 2rem;
  line-height: 1.3;
  padding-bottom: 10px;
}

.hero h3 {
  color: #c13e33;
  font-size: 1.2rem;
  line-height: 1.2;
  padding-bottom: 10px;
}

.hero .btn {
  width: 120px;
  text-align: center;
  background: #c13e33;
}

.hero span {
  color: #c13e33;
  padding: 10px 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.qoute {
  background: #19242d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.qoute h2 {
  color: #fff;
}

.qoute input,
.qoute select {
  display: block;
  border: none;
  height: 2.5rem;
  margin: 0.5rem 0;
  width: 100%;
  border-radius: 0;
  padding-left: 0.5rem;
}

.qoute textarea {
  display: block;
  border: none;
  height: 6rem;
  margin: 0.4rem 0;
  width: 100%;
  border-radius: 0;
  padding-left: 0.5rem;
}

.qoute .btn {
  background: #e0aa25;
  float: right;
}

@media screen and (min-width: 600px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0;
    height: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .main-nav li {
    margin: 0;
  }
  .main-nav li:nth-child(odd) {
    background: none;
  }
  .nav-links {
    margin-left: 40px;
    background: none;
    border: none;
  }
  .logo {
    margin-top: 0;
  }
  .navbar-toggle {
    display: none;
  }
  .logo:hover,
  .nav-links:hover {
    color: #a7a7a7;
    background: none;
  }
}

@media screen and (min-width: 500px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero,
  .qoute {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */